.write-down-sth{
  height: 100% !important; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.write-down-sth>br{
  display: none;
}
.write-down-sth-wrapper{
  height: 100%;
  background-color: #FFF8F0;
  border-radius: 0.5rem;
}
.write-down-sth-wrapper>textarea{
  height: 100% !important;
  background-color: #FFF8F0;

}

@media (max-width: 576px) {
  .smoffcanvas {
    max-width: 60% !important;
  }
}

.smoffcanvas {
  background-color: #EAE1D7 !important;
}

.signInCard {
  cursor: pointer;
  margin: 0 5%;
  max-width: 90%;
  color: black !important;
  background-color: #FFF8F0 !important;
  border-color: rgba(178, 182, 187, 0) !important;
  border-radius: 0.5rem !important;
}

.signInButton {
  margin-left: auto;
}

.signInCardText {
  text-align: center;
}

.nav-link-wrapper {
  margin-top: 0.25rem;
  margin-left: 20% !important;
  margin-bottom: 2rem !important;
}

.nav-link-icon {
  margin-right: 0.25rem;
}
/* 248,249,250 */

.bottom-bar {
  flex-direction: row;
  justify-content: space-between;
}

.navbar-arrow {
  /* width: 10rem !important;
  background-size: 10rem !important; */
  font-size: 2rem;
}