.signInCard {
    cursor: pointer;
    margin: 0 5%;
    max-width: 90%;
    color: black !important;
    background-color: #ffffff !important;
    border-color: rgba(178, 182, 187, 0) !important;
    border-radius: 0.5rem !important;
  }
  
  .signInButton {
    margin-left: auto;
  }
  
  .signInCardText {
    text-align: center;
  }