.title-bar {
    position: fixed !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 !important;

    background-color:antiquewhite;
}
